$primary-blue: #38b6ff;

* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter";
  font-style: normal;
  text-decoration: none;
}
.App {
  min-height: 100vh;
}

.Politicians {
  display: grid;
  justify-content: center;
}
.Representative {
  display: grid;
  cursor: pointer;
  width: 200px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 1%;
  &:hover {
    background-color: #4e5469;
  }

  .Representative-img {
    object-fit: cover;
    width: 200px;
    height: 230px;
    justify-self: center;

    border-radius: 1%;
  }
  .Representative-text {
    display: grid;
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;

    
    div {
      justify-self: center;
    }
  }
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .Header {
    grid-column: 1/5;
  }
  .content {
    grid-column: 1/4;
    margin-block: 40px;
    justify-self: center;
    align-self: center;
  }
  .Sidebar {
    grid-column: 4/5;
    justify-self: flex-start;

    margin-block: 40px;
  }

  .Footer {
    grid-column: 1/5;
  }
}

//Home Page
.Home-text {
  color: whitesmoke;
  font-size: 25px;
}

.Politicians-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.CustomForm {
  background-color: whitesmoke;
  padding: 20px;
  width: 600px;

  border-radius: 2%;
  .formError {
    color: #fc3d36;
    font-size: small;
  }
}

.Header {
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  .Header-h1 {
    position: absolute;
    width: auto;
    height: 58px;
    left: 40px;
    top: 140px;
    cursor: pointer;
    font-size: 55px;
    font-style: bold;
    line-height: 58px;
    color: #fc3d36;
    &:hover {
      color: red;
    }
  }
  .Header-img {
    height: 200px;
    width: 80%;
    object-fit: cover;
  }
}

.Footer {
  position: sticky;
  top: 100%;
  width: 100%;
  display: grid;
  background-color: whitesmoke;
  height: 40px;
  grid-column: span 2;

  justify-content: end;
  align-items: center;
  .Footer-items a {
    color: #434859;
    padding-inline: 10px;
  }
}

//Login Page
.Login-form {
  label {
    color: white;
    font-size: 18px;
  }
}

body {
  background-color: #434859;
  padding: 0;
  margin: 0;
}

.Sidebar {
  width: 220px;
  color: black;
  height: fit-content;

  .Sidebar-list {
    width: 100%;
    padding: 0;
    margin: 0px;

    .vector {
      /* Vector 1 */
      position: absolute;
      z-index: 100;
      width: 20.23px;
      height: 20.5px;
      left: 0px;
      top: 5px;

      background: red;
      border: 1px solid #434859;
    }

    .row {
      width: 100%;
      height: 55px;
      display: flex;
      list-style-type: none;
      flex-direction: row;

      background-color: white;
      color: black;
      border: 1px solid $primary-blue;
      margin-bottom: 10px;

      .nav-icon-text-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;

        .Sidebar-icon {
          display: grid;
          justify-self: center;
          align-self: center;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $primary-blue;
        color: white;
      }
    }

    .active {
      cursor: pointer;
      background-color: $primary-blue;
      color: white;
    }
  }
}

.BlueButton {
  background-color: $primary-blue;
  color: white;
  float: right;
  border: none;
  padding: 5px 10px;
}
