html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  padding: 10px;
}

.Header {
  position: relative;
}

.Footer {
  width: 100%;
  text-align: center;
  background-color: #63c5da;
  height: 30px;
}

.Title {
  position: absolute;
  width: auto;
  height: 58px;
  left: 59px;
  top: 180px;

  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: red;
}

.HeaderImage {
  height: 200px;
  width: 80%;
  object-fit: cover;
}

body {
  background-color: #434859;
  padding: 0;
  margin: 0;
}

.Sidebar {
  height: auto;
  width: 200px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: 0px;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0px;
}
.SidebarList .row {
  width: 100%;
  height: 50px;

  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #63c5da;
}

.row #sidebarIcon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarList #active {
  background-color: #63c5da;
  color: white;
}

.row #sidebarTitle {
  flex: 70%;
}
